.scoreboard {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}
.scoreboard-header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 15px!important;
    text-align: left;
    margin: -1px -1px;
}
.scoreboard .scoreboard-match-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}
.scoreboard-match-item:hover .scoreboard-equipe-a {
    background: linear-gradient(90deg,transparent,#cccccc);
}
.scoreboard-match-item:hover .scoreboard-equipe-b {
    background: linear-gradient(270deg,transparent,#cccccc);
}
.scoreboard-match-item:hover {
    text-decoration: none;
    color: black;
}
.scoreboard-equipe-a {
    padding: 6px 10px;
    background: linear-gradient(90deg,transparent,#ececec);
    min-width: 110px;
    text-align: right;
    flex-basis: 37.5%;
}
.scoreboard-equipe-score {
    display: flex;
    text-align: center;
    flex-basis: 25%;
}
.scoreboard-equipe-b {
    padding: 6px 10px;
    background: linear-gradient(270deg,transparent,#ececec);
    text-align: left;
    flex-basis: 37.5%;
}
.scoreboard-equipe-win {
    font-weight: bold;
}
.scoreboard-score-lose {
    background-color: #ff4f4f;
    padding: 6px 10px;
    width: 50%;
    min-width: 40px;
}
.scoreboard-score-win {
    background-color: #2eec65;
    padding: 6px 10px;
    width: 50%;
    font-weight: bold;
    min-width: 40px;
}
.scoreboard-score-draw {
    background-color: #3faaff;
    padding: 6px 10px;
    width: 50%;
    min-width: 40px;
}
footer#scoreboard-footer {
    display: flex;
}
#scoreboard-footer a {
    padding: 12px 0px;
    background-color: #ededed;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: #000000;
}
#scoreboard-footer a:hover {
    background-color: rgb(209, 209, 209);
    color: black;
}
.scoreboard .end_match {
    background-color: crimson;
}
.scoreboard .soon_match {
    background-color: #198754;
}
.scoreboard .scoreboard-category {
    padding: 7px 15px 10px 15px;
    color: white;
    margin: 0px -1px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.scoreboard .scoreboard-category a {
    font-size: small;
    align-items: center;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
}
.scoreboard .scoreboard-category a:hover {
    color: rgba(255, 255, 255, 1);
}
.scoreboard-equipe-date {
    display: flex;
    text-align: center;
    flex-basis: 25%;
    justify-content: center;
}
select#games {
    padding: 5px;
    border-radius: 3px;
}
.toggleShowMatch {
    max-height: 0px!important;
    transition: max-height 0.3s ease;
}
.scoreboard-match-end, .scoreboard-match-soon {
    max-height: 500px;
    transition: max-height 0.3s ease;
    overflow: hidden;
}